<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <title>Create Modules</title>
  <style>
    nav{
      background-color: #2096ff;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark " >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbar20">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="#" >Home</a> </li>
          <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createElements}">Elements</a> </li>
          <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createModules}">Modules</a> </li>
          <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createNiveau}">Niveau</a> </li>
          <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createFiliere}">Filiere</a> </li>

        </ul>
      </div>
    </div>
  </nav>
  <section class="container py-5 col-md-6">
    <h2 class="text-center">Create Module</h2><br>
    <div class="alert alert-success" role="alert" th:if="${successCreate}" th:text="${successCreate}"></div>
    <div class="alert alert-danger" role="alert" th:else th:if="${failedCreate}" th:text="${failedCreate}"></div>
    <form th:action="@{/cadreAdmin/createModules}" method="post" th:object="${module}">
      <div class="mb-3">
        <label for="titre" class="form-label">Titre : </label>
        <input type="text" class="form-control" id="titre" th:field="*{titre}">
      </div>
      <div class="mb-3">
        <label for="code" class="form-label">Code : </label>
        <input type="text" class="form-control" id="code" th:field="*{code}">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <section class="container py-5">
      <h2 class="text-center">Modules</h2><br>
      <form th:action="@{/cadreAdmin/createModules}" method="get">
        <input type="text" placeholder="Search.." class="form-control" name="query" th:value="${query}" required>
      </form>
      <br>
      <br>

      <div th:if="${successDelete}" th:text="${successDelete}" class="alert alert-success text-center" role="alert"></div>
      <div th:else th:if="${failedDelete}" th:text="${failedDelete}" class="alert alert-danger text-center" role="alert"></div>

      <div class="alert alert-success" role="alert" th:if="${successUpdate}" th:text="${successUpdate}"></div>
      <div class="alert alert-danger" role="alert" th:else th:if="${failedUpdate}" th:text="${failedUpdate}"></div>

      <br>
      <br>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Code</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="module: ${listModule}">
          <td th:text="${module.titre}"></td>
          <td th:text="${module.code}"></td>
          <td>
            <form th:action="@{/cadreAdmin/deleteModule/{id}(id=${module.idModule})}" method="post">
              <button type="submit" onclick="return confirm('Do you really want to delete this element !')" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
              <a class="btn btn-default btn-sm" th:href="@{/cadreAdmin/updateModule/{id}(id=${module.idModule})}"><i class="fa fa-cogs"></i></a>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </section>

</body>
</html>