<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Create Coordination</title>
    <style>
        nav{
            background-color: #2096ff;
        }
        .custom-select-style {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #fff;
            border: 1px solid #dee2e6;
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            width: 100%;
        }

        .custom-select-style:focus {
            outline: none;
            box-shadow: none;
            border-color: #007bff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark " >
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar20">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link" href="#" >Home</a> </li>
                <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createElements}">Elements</a> </li>
                <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createModules}">Modules</a> </li>
                <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createNiveau}">Niveau</a> </li>
                <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createFiliere}">Filiere</a> </li>
                <li class="nav-item"> <a class="nav-link" th:href="@{/cadreAdmin/createCoordination}">Coordination</a> </li>

            </ul>
        </div>
    </div>
</nav>
<section class="container py-5 col-md-6">
        <h2 class="text-center">Create Coordination</h2><br>
    <div class="alert alert-success" role="alert" th:if="${successCreate}" th:text="${successCreate}"></div>
    <div class="alert alert-danger" role="alert" th:else th:if="${failedCreate}" th:text="${failedCreate}"></div>
    <form th:action="@{/cadreAdmin/createCoordination}" method="post" th:object="${coordination}">
        <div class="mb-3">
            <label for="dateDebut" class="form-label">Date Debut : </label>
            <input type="date" class="form-control" id="dateDebut" th:field="*{dateDebut}">
        </div>
        <div class="mb-3">
            <label for="dateFin" class="form-label">Date Fin : </label>
            <input type="date" class="form-control" id="dateFin" th:field="*{dateFin}">
        </div>

        <div class="mb-3">
            <label for="selectedFiliere" class="form-label" >Filiere : </label>
            <select id="selectedFiliere" th:field="*{filiere.idFiliere}" name="selectedFiliere" class="custom-select-style" >
                <option disabled selected value="0">Choose Filieres </option>
                <option  th:each="filiere : ${listFiliere}" th:text="${filiere.titre + ' - '+filiere.idFiliere}" th:value="${filiere.idFiliere}" ></option>
            </select>
        </div>

        <!--<div class="mb-3">
            <label for="filiere" class="form-label">id Filiere : </label>
            <input type="text" class="form-control" id="filiere" th:field="*{filiere.idFiliere}">
        </div>-->
        <div class="mb-3">
            <label for="selectedUtilisateur" class="form-label">Utilisateur : </label>
            <select id="selectedUtilisateur"  th:field="*{enseignant.idUtilisateur}" name="selectedUtilisateur"  class="custom-select-style" >
                <option disabled value="0" selected>Choose Enseignants </option>
                <option th:each="utilisateur : ${listUtilisateur}" th:text="${utilisateur.nom+' - '+utilisateur.idUtilisateur}" th:value="${utilisateur.idUtilisateur}"></option>
            </select>
        </div>

        <!--<div class="mb-3">
            <label for="enseignant" class="form-label">id Enseignant : </label>
            <input type="text" class="form-control" id="enseignant" th:field="*{enseignant.idUtilisateur}">
        </div>-->

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!--*****************table********************-->

    <section class="container py-5">
        <h2 class="text-center">Coordination</h2><br>
        <form th:action="@{/cadreAdmin/createCoordination}" method="get">
            <input type="text" placeholder="Search.." class="form-control" name="query" th:value="${query}" required>
        </form>
        <br>
        <br>

        <div th:if="${successDelete}" th:text="${successDelete}" class="alert alert-success text-center" role="alert"></div>
        <div th:else th:if="${failedDelete}" th:text="${failedDelete}" class="alert alert-danger text-center" role="alert"></div>

        <div class="alert alert-success" role="alert" th:if="${successUpdate}" th:text="${successUpdate}"></div>
        <div class="alert alert-danger" role="alert" th:else th:if="${failedUpdate}" th:text="${failedUpdate}"></div>

        <br>
        <br>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Date Debut</th>
                <th scope="col">Date Fin</th>
                <th scope="col">Enseignant</th>
                <th scope="col">Filiere</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coordination: ${listCoordination}">
                <td th:text="${coordination.dateDebut}"></td>
                <td th:text="${coordination.dateFin}"></td>
                <td th:text="${coordination?.enseignant?.nom}"></td>
                <td th:text="${coordination?.filiere?.titre}"></td>


                <td>
                    <form th:action="@{/cadreAdmin/deleteCoordination/{id}(id=${coordination.idCoordination})}" method="post">
                        <button type="submit" onclick="return confirm('Do you really want to delete this filiere !')" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                        <a class="btn btn-default btn-sm" th:href="@{/cadreAdmin/updateCoordination/{id}(id=${coordination.idCoordination})}"><i class="fa fa-cogs"></i></a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

</section>
</body>
</html>